# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Wails
frontend/dist/
frontend/bindings/
.task
bin/
build/linux/*.desktop

# Svelte, Vite, Node
frontend/node_modules/
frontend/.svelte-kit/
frontend/.vite/
.npm
.eslintcache
.node_repl_history
frontend/src/lib/paraglide/
frontend/src/project.inlang/*
!frontend/src/project.inlang/settings.json

# Tailwind
frontend/public/tailwind.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS & Editor Settings
.DS_Store
Thumbs.db
.zed/
.vscode/
.idea/
*.swp
